<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
  <appender name="FLUENTD" class="org.fluentd.logger.sender.appender.FluentAppender" >
    <layout>
      <Pattern>%date [%thread] %-5level %logger - %msg%n</Pattern>
    </layout>
    <defaultTag>log1</defaultTag>
    <connectionInfo class="org.fluentd.logger.sender.appender.ConnectionInfo" >
    	<tag>logs1</tag>
	    <port>24224</port>
    	<host>localhost</host>
    </connectionInfo>
    <connectionInfo class="org.fluentd.logger.sender.appender.ConnectionInfo" >
    	<tag>loglog</tag>
	    <port>24224</port>
    	<host>localhost</host>
    </connectionInfo>
  </appender>

  <root level="debug">
    <appender-ref ref="FLUENTD" />
  </root>  
</configuration>



